[submodule "CA1"]
	path = CA1
	url = https://github.com/SM2A/Tic_Tac_Toe
[submodule "CA2"]
	path = CA2
	url = https://github.com/SM2A/Othello
[submodule "CA3"]
	path = CA3
	url = https://github.com/SM2A/UT_Bank
